.output {
   height: calc(100% - 91px);
}

.user-card{
   height: 57px;
   border-bottom: 1px solid #3e3e3e;
   overflow-y: hidden;
   transition: .5s;
}

.card-name{
   position: relative;
   padding: 15px 68px 15px 15px;
   border-bottom: 1px solid #3e3e3e;
   cursor: pointer;
}

.card-open-arrow{
   position: absolute;
   top: 50%;
   right: 24.5px;
   transform: translateY(-50%) rotate(90deg);
   z-index: 10;
   background-size: 17px 17px;
   fill: #2c2c2c;
   transition: .3s;
}

.card-info{
   padding: 15px 68px 15px 15px;
   font-size: 22px;
}
