.control-search{
   display: flex;
   width: 100%;
}

.control-search input{
   flex: 1 1 10px;

   height: 50px;
   padding: 5px 10px;
   border-right: 1px solid #3e3e3e;

   background-color: #2c2c2c;
   color: #fff; 
}

.control-search input::placeholder{
   color: #7d7d7d;
}

.control-search-button{
   flex: 0 0 104px;
   height: 50px;
   padding: 10px 15px;
   background-color: #2c2c2c;
   color: #fff;
}