.app {
   display: flex;
   justify-content: center;
   align-items: center;

   width: 100vw;
   height: 100vh;
   padding: 25px;
}

.control {
   width: 100%;
   max-width: 440px;
   height: 85%;

   border: 4px solid #ffc012;
   border-radius: 4px;
}

.control-form{
   position: relative;
   height: 70px;
}

.control-turn{
   width: 100%;
   height: 30px;
   background-color: #313131;
   color: #fff;
}

.output{
   min-height: calc(100% - 70px);
}
